---
import "./_shared/animations.css";
import "./_shared/scroll-snap.css";
import AltLayout from "@/layouts/AltLayout.astro";
import Hero from "./_shared/hero-section.astro";
import About from "./_shared/description-section.astro";
import FeatureIcons from "./_shared/features-section.astro";
import Preview from "./_shared/preview-section.astro";
import Testimonials from "./_shared/testimonials-section.astro";
import Download from "./_shared/download-section.astro";

import {
  FEATURES,
  TESTIMONIALS,
  KEY_FEATURES,
  SPECIFICATIONS,
} from "./rupture.content";
import "./rupture.css";
import PLUGIN_IMAGE from "@/assets/rupture.png";

const PLUGIN_NAME = "Rupture";
const PLUGIN_DESCRIPTION = `A distorted delay plugin that combines analog-style
                saturation with repeating echoes; colored by five different distortion
                algorithms, reliable filtering, and volume pulsing effects to create
                unique 3D spaces in your mixes.`;
const YOUTUBE_EMBED_URL =
  "https://www.youtube.com/embed/WZCX-RmJN1s?si=gHYSlRkPyVpZlf0m";
---

<AltLayout title={`${PLUGIN_NAME} VST - Download`}>
  <main class="bg-black text-white">
    <Hero
      pluginName={PLUGIN_NAME}
      pluginDescription={PLUGIN_DESCRIPTION}
      pluginImage={PLUGIN_IMAGE}
    />

    <About
      pluginName={PLUGIN_NAME}
      pluginDescription={PLUGIN_DESCRIPTION}
      keyFeatures={KEY_FEATURES}
      specifications={SPECIFICATIONS}
    />

    <FeatureIcons features={FEATURES} />

    <Preview pluginName={PLUGIN_NAME} youtubeEmbedUrl={YOUTUBE_EMBED_URL} />

    <Testimonials testimonials={TESTIMONIALS} />

    <Download pluginName={PLUGIN_NAME} />
  </main>

  <script src="./_shared/animations.ts"></script>
</AltLayout>
